:root {
   /* colors */
   --color-cyan: hsl(179, 62%, 43%);
   --color-bright-yellow: hsl(71, 73%, 54%);
   --color-light-gray: hsl(204, 43%, 93%);
   --color-white: hsl(0, 0%, 100%);
   --grayishBlue: hsl(218, 22%, 67%);

   /* fonts */
   --ff-sans : "Karla", sans-serif;
}

/* --------------- */
/* Reset           */
/* --------------- */

*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
}

html,
body {
   height: 100%;
}

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}

input,
button,
textarea,
select {
   font: inherit;
}

h1 {
   font-size: 1.5rem;
   line-height: 1.1692;
   letter-spacing: -0.01875rem;
}

h2 {
   font-size: 1.125rem;
   line-height: 1.1689;
   letter-spacing: -0.01375rem;
}

/* --------------------- */
/* Utility classes       */
/* --------------------- */

.flex {
   display: flex;
   gap: var(--gap, 1rem);
}

/* --------------- */
/* Components      */
/* --------------- */

body {
   height: 100%;
   font-family: var(--ff-sans);
   font-size: 16px;
   font-weight: 400;
   background-color: var(--color-light-gray);
   --gap: 0;
   justify-content: center;
   align-items: center;
}

.container {
   max-width: 39.6875rem;
   max-height: 29.6875rem;
   --gap: 0;
   flex-direction: column;
   box-shadow: 0px 15px 30px hsla(212, 100%, 33%, 0.15);
}

/* Header */

.header {
   background-color: var(--color-white);
   padding: 2.5rem;
   border-radius: 0.5rem 0.5rem 0 0;
}

.header h1 {
   color: var(--color-cyan);
   margin-bottom: 1.5rem;
}

.header h2 {
   color: var(--color-bright-yellow);
   margin-bottom: 0.6875rem;
}

.header p {
   color: var(--grayishBlue);
   line-height: 1.625rem;
   letter-spacing: -0.0125rem;
}

/* Subscription */

.cards {
   color: var(--color-white);
   --gap: 0;
}

.subscription {
   background-color: var(--color-cyan);
   flex: 1;
   border-radius: 0 0 0 0.5rem;
   padding: 2.5rem;
}

.subscription h2 {
   margin-bottom: 1.125rem;
}

.subscription .price {
   align-items: center;
   gap: 0.6875rem;
   margin-bottom: 0.25rem;
}

.subscription .price .money {
   font-size: 2rem;
   font-weight: 700;
   letter-spacing: -0.025rem;
}

.subscription .price .month {
   line-height: 1.625;
   letter-spacing: -0.0125rem;
   opacity: 50%;
}

.subscription > p {
   line-height: 1.625;
   letter-spacing: -0.0125rem;
   margin-bottom: 1.625rem;
}

.subscription button {
   font-weight: 700;
   color: var(--color-white);
   background-color: var(--color-bright-yellow);
   width: 100%;
   border: none;
   padding: 0.92rem;
   border-radius: 0.3125rem;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
}

/* About */

.about {
   flex: 1;
   padding: 2.5rem;
   background-color: hsla(179, 62%, 43%, 0.85);
   border-radius: 0 0 0.5rem 0;
}

.about h2 {
   margin-bottom: 1.125rem;
}

.about ul {
   font-size: 0.875rem;
   line-height: 1.4286;
   letter-spacing: -0.0106rem;
   opacity: 0.75;
   padding-left: 0;
   list-style: none;
}

@media (max-width: 40em) {
   h1 {
      font-size: 1.25rem;
      letter-spacing: -0.015625rem;
   }
   
   h2 {
      font-size: 1.125rem;
      line-height: 1.1689;
      letter-spacing: 0.01375rem;
   }
   
   .container {
      max-width: 19.4375rem;
      max-height: 45.125rem;
      margin: 0 2rem;
   }

   .header {
      padding: 1.75rem 1.5rem 2rem;
      border-radius: 0;
   }

   .header h2 {
      font-size: 0.9375rem;
      line-height: 1.3333;
      letter-spacing: -0.011875rem;
      margin-bottom: 1rem;
   }

   .header p {
      font-size: 0.875rem;
      line-height: 1.8571rem;
      letter-spacing: -0.010625rem;
   }
   
   .cards {
      flex-direction: column;
   }

   .subscription {
      border-radius: 0;
      padding: 1.5rem;
   }

   .subscription h2 {
      margin-bottom: 1.125rem;
   }
   
   .about {
      padding: 1.5rem;
      border-radius: 0;
   }
}